@font-face {
    font-family: 'Arounder';
    src: url("/fonts/arounder.ttf");
}

header, footer, .main, table {
    width: 800px;
    margin: auto;
    text-align: center;
}

header, footer, .nav {
    background-color: bisque;
}

header, footer, a {
    color: chocolate;
}

header {
    font-family: 'Arounder';
    font-size: 300%;
}

footer, .nav, .main {
    font-family: sans-serif;
}

.nav {
    padding-bottom: 10px;
    list-style-type: none;
    margin: auto;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px; 
}

a { 
    text-decoration: none;
    font-weight: bold;
}

a:hover { 
    text-decoration: underline;
}

.main {
    height: 400px;
    font-size: 120%;
    position: relative;
}

body {
    background-color: rgb(255, 250, 243);
}

label {
    padding-right: 10px; 
}

form {
    text-align: center;
    padding-top: 20px;
}

p {
    vertical-align: middle;
    display: inline;
    margin: auto;
}

table {
    border: 1px solid #69c;
    margin-top: 20px;
}

th {
    font-weight: normal;
    color: #039;
    border-bottom: 1px dashed #69c;
    padding: 12px 17px;
}

td {
    color: #669;
    padding: 7px 17px;
}

tr:hover td {
    background: #ccddff;
}
